#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title{
  top: 50%;
  font-size: 96px;
  font-weight: bold;
}

.subtitle{
  font-size: 40px;
  font-style: italic;
}