#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title{
  font-size: 64px;
  font-weight: bold;
  outline: 7px solid #35210f;
  background-color: #fae2b6;
  color: #35210f;
  padding: 15px;
}

.subtitle{
  font-size: 40px;
  font-style: italic;
}

.logo{
  width: 400px;
  height: 400px;
}

.top-div{
  display: flex;
}

.title-div{
  margin-top: 5rem;
}