#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title{
  font-size: clamp(20px, 6vw, 64px);
  font-weight: 1000;
  outline: 6px solid #35210f;
  background-color: #fae2b6;
  color: #35210f;
  padding: 5px;
  margin-bottom: 1rem;
}

.subtitle{
  font-size: clamp(18px, 4vw, 40px);
  font-style: italic;
  margin-bottom: 1rem;
}

.logo{
  width: 80vw;
  max-width: 300px;
  height: auto;
}

.top-div{
  display: flex;
}

.title-div{
  margin-top: 5rem;
}

@media (max-width: 600px) {


  .title-div {
    margin-top: 0.05rem;
  }
  
  .top-div {
    flex-direction: column;
    align-items: center;
  }
}